---
layout: default
---
<article class="index">
    <h1 class="page-title">所有文章</h1>
    <div class="meassage">写好代码，过好生活</div>

    
    {% for post in paginator.posts %}
    {% assign currentdate = post.date | date: "%Y" %}
    {% if currentdate != date %}
    {% unless forloop.first %}</ul>{% endunless %}
    <h2 id="y{{post.date | date: "%Y"}}">{{currentdate}}</h2>
    <ul class="related-posts">
        {% assign date = currentdate %}
        {% endif %}
        <li>
        <div class="heading">
            <a href="{{site.baseurl}}{{post.url}}"><span>{{post.title}}</span></a>
            <span class="timestamp">{{post.date | date: "%m/%d"}}</span>
        </div>
        </li>
        {% if forloop.last %}</ul>{% endif %}
    {% endfor %}

    <div id="post-pagination" class="paginator">

        {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
        <a href="/">上一页</a>
        {% else %}
        <a href="/page/{{paginator.previous_page}}">上一页</a>
        {% endif %}
        {% else %}
        <span class="previous disabled">上一页</span>
        {% endif %}

        {% if paginator.page == 1 %}
        <span class="current-page">1</span>
        {% else %}
        <a href="/">1</a>
        {% endif %}

        {% for count in (2..paginator.total_pages) %}
        {% if count == paginator.page %}
        <span class="current-page">{{count}}</span>
        {% else %}
        <a href="/page/{{count}}">{{count}}</a>
        {% endif %}
        {% endfor %}

        {% if paginator.next_page %}
        <a class="next" href="/page/{{paginator.next_page}}">下一页</a>
        {% else %}
        <span class="next disabled">下一页</span>
        {% endif %}
        (共{{ paginator.total_posts }}篇)
    </div>
</article>
